/* This file is for your main application css. */
@font-face {
  font-family: 'Commodore Pixelized v1.2';
  src: url('/fonts/commodore-64-pixelized.ttf') format('truetype');
}

@import "./reset.css";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

a,
body,
button {
  font-family: 'Commodore Pixelized v1.2', monospace;
}

body {
  background-color: Black;
  color: White;
  text-shadow: 1px 1px Grey;
  width: 1024px;
  margin: 10px auto;
}

#tracker-feedback {
  color: Green;
  text-shadow: none;
}

#tracker-feedback>.alert {
  margin-bottom: 1rem;
}

#tracker-feedback>.alert.alert-danger {
  color: Tomato;
}

#logo {
  font-size: 8px;
  margin: 20px 0 10px;
  text-shadow: 3px 1px Purple;
}

#tracker-instructions {
  color: Grey;
  text-shadow: none;
  font-weight: 100;
  margin: 10px 0;
}

#tracker-container {
  background-color: DarkSlateBlue;
  color: White;
}

#tracker-header {
  display: flex;
  height: 92px;
}

.track-heading,
#tracker-status>div,
#tracker-info>div {
  margin: 4px;
}

#tracker-status {
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.12rem;
}

#tracker-transport>.buttons {
  margin: 2px;
}

#tracker-vu-meters {
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
  align-content: flex-start;
  justify-content: stretch;
  flex-grow: 0.55;
}

#tracker-vu-meters>.vu-meter {
  flex-grow: 0;
  background-color: #222;
  cursor: pointer;
  height: 31px;
  width: 140px;
  margin: 4px 2px 1px 4px;
  align-self: center;
}

#tracker-options {
  display: flex;
  flex-grow: 1;
  /* /* align-items: flex-start; */
}

#tracker-options>.buttons {
  margin: 2px;
}

#tracker-options>.files {
  margin: 3px;
  background: MidnightBlue;

}

#tracker-options>.files>.file {
  cursor: pointer;
  margin: 2px;
}

#tracker-options>.files>.file.selected {
  color: White;
  background: DodgerBlue;
  text-shadow: none;
}

.track-heading {
  color: Grey;
  text-shadow: -1px -1px Black;
}

.track-heading.selected {
  color: White;
}

#tracker-tracks>table {
  width: 100%;
  border-spacing: 2px 2px;
}

#tracker-tracks th {
  text-align: left;
  padding-left: 4px;
}

.track {
  color: DodgerBlue;
  background-color: MidnightBlue;
  text-shadow: -1px -1px Black;
}

.line {
  display: flex;
  justify-content: space-between;
  margin: 2px;
  letter-spacing: 4px;
}

.line.selected {
  color: white;
  text-shadow: none;
}

.recording {
  color: red;
  text-shadow: none;
}

.embossed {
  border-top: 2px solid rgba(255, 255, 255, .5);
  border-left: 2px solid rgba(255, 255, 255, .5);
  border-bottom: 2px solid rgba(0, 0, 0, .5);
  border-right: 2px solid rgba(0, 0, 0, .5);
}

.recessed {
  border-top: 2px solid rgba(0, 0, 0, .5);
  border-left: 2px solid rgba(0, 0, 0, .5);
  border-bottom: 2px solid rgba(255, 255, 255, .5);
  border-right: 2px solid rgba(255, 255, 255, .5);
}

.buttons {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  justify-content: flex-start;
  align-content: flex-start;
}

button:active,
input[type='button']:active,
input[type='reset']:active,
input[type='submit']:active {
  border-bottom: 2px solid White;
  border-right: 2px solid White;
  border-top: 2px solid Grey;
  border-left: 2px solid Grey;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  color: #222;
  text-shadow: 1px 1px White;
  background-color: LightGrey;
  border-top: 2px solid White;
  border-left: 2px solid White;
  border-bottom: 2px solid Grey;
  border-right: 2px solid Grey;
  cursor: pointer;
  display: inline-block;
  height: 1.5rem;
  line-height: 1rem;
  width: 140px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 2px;
}

.button-disabled {
  color: Grey;
}

.button-small {
  width: 2rem;
}