/* This file is for your main application css. */
@font-face {
  font-family: 'Commodore Pixelized v1.2';
  src: url('/fonts/commodore-64-pixelized.ttf') format('truetype');
}

@import "./reset.css";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

a,
body,
button {
  font-family: 'Commodore Pixelized v1.2', monospace;
}

body {
  background-color: Black;
  color: White;
  text-shadow: 1px 1px Grey;
  width: 1024px;
  margin: 10px auto;
}

#tracker-feedback {
  color: Green;
  text-shadow: none;
}

#tracker-feedback>.alert {
  margin-bottom: 1rem;
}

#tracker-feedback>.alert.alert-danger {
  color: Tomato;
}

#tracker-container {
  background-color: DarkSlateBlue;
  color: White;
}

#tracker-header {
  display: grid;
  grid-template-columns: 128px 128px auto 384px;
  grid-template-rows: auto;
  grid-template-areas: "info transport meters options"
}

#tracker-logo {
  display: grid;
  grid-template-columns: auto 384px;
}

#tracker-logo>#logo {
  font-size: 9px;
  font-weight: bold;
  margin: 10px 0 0 8px;
  text-shadow: 3px 1px Purple;
}

#tracker-patterns {
  display: grid;
  grid-template-columns: 60% 40%
}

#tracker-patterns>.lcd {
  height: 58px;
  overflow: scroll;
}

.vertical-controls {
  display: flex;
  flex-direction: column;
}

.lcd {
  color: DodgerBlue;
  background-color: MidnightBlue;
  text-shadow: -1px -1px Black;
}

#tracker-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-left: 4px;
}

#tracker-transport {
  display: grid;
}

#tracker-vu-meters {
  display: grid;
  grid-area: meters;
  grid-gap: 2px;
  grid-template-columns: auto auto;
  grid-template-rows: 36px 36px;
}

#tracker-vu-meters>.vu-meter {
  /* flex-grow: 0; */
  background-color: #222;
  cursor: pointer;
}

#tracker-options {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
}

#tracker-load>.files {
  margin: 3px;
  background: MidnightBlue;

}

#tracker-load>.files>.file {
  cursor: pointer;
  margin: 2px;
}

#tracker-load>.files>.file.selected {
  color: White;
  background: DodgerBlue;
  text-shadow: none;
}

#tracker-status {
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.12rem;
}

#tracker-status>div {
  margin: 4px;
}

.track-heading {
  color: Grey;
  text-shadow: -1px -1px Black;
  margin: 4px;
}

.track-heading.selected {
  color: White;
}

#tracker-tracks>table {
  width: 100%;
  border-spacing: 2px 2px;
}

#tracker-tracks th {
  text-align: left;
  padding-left: 4px;
}

.line {
  display: flex;
  justify-content: space-between;
  margin: 2px;
  letter-spacing: 4px;
}

.line.selected,
.pattern.selected {
  color: white;
  text-shadow: none;
}

#tracker-instructions {
  color: Grey;
  text-shadow: none;
  font-weight: 100;
  margin: 10px 0;
}

.recording {
  color: Tomato;
  text-shadow: none;
}

.embossed {
  border-top: 2px solid rgba(255, 255, 255, .5);
  border-left: 2px solid rgba(255, 255, 255, .5);
  border-bottom: 2px solid rgba(0, 0, 0, .5);
  border-right: 2px solid rgba(0, 0, 0, .5);
}

.recessed {
  border-top: 2px solid rgba(0, 0, 0, .5);
  border-left: 2px solid rgba(0, 0, 0, .5);
  border-bottom: 2px solid rgba(255, 255, 255, .5);
  border-right: 2px solid rgba(255, 255, 255, .5);
}

button:focus {
  outline: none;
}

button:active,
input[type='button']:active,
input[type='reset']:active,
input[type='submit']:active {
  border-bottom: 2px solid White;
  border-right: 2px solid White;
  border-top: 2px solid Grey;
  border-left: 2px solid Grey;
  outline: none;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  color: #222;
  text-shadow: 1px 1px White;
  background-color: LightGrey;
  border-top: 2px solid White;
  border-left: 2px solid White;
  border-bottom: 2px solid Grey;
  border-right: 2px solid Grey;
  cursor: pointer;
  display: inline-block;
  line-height: 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

button:disabled,
.button-disabled {
  color: Grey;
}