/* Styles of global elements */

#tracker-feedback {
  color: Green;
  text-shadow: none;
}

#tracker-feedback>.alert {
  margin-bottom: 1rem;
}

#tracker-feedback>.alert.alert-danger {
  color: Tomato;
}

#tracker-container {
  background-color: DarkSlateBlue;
  color: White;
}

#tracker-logo {
  display: grid;
  grid-template-columns: auto 384px;
}

#tracker-logo>#logo {
  font-size: 9px;
  font-weight: bold;
  margin: 10px 0 0 8px;
  text-shadow: 3px 1px Purple;
}

.vertical-controls {
  display: flex;
  flex-direction: column;
}

.lcd {
  color: DodgerBlue;
  background-color: MidnightBlue;
  text-shadow: -1px -1px Black;
}

.embossed {
  border-top: 2px solid rgba(255, 255, 255, .5);
  border-left: 2px solid rgba(255, 255, 255, .5);
  border-bottom: 2px solid rgba(0, 0, 0, .5);
  border-right: 2px solid rgba(0, 0, 0, .5);
}

.recessed {
  border-top: 2px solid rgba(0, 0, 0, .5);
  border-left: 2px solid rgba(0, 0, 0, .5);
  border-bottom: 2px solid rgba(255, 255, 255, .5);
  border-right: 2px solid rgba(255, 255, 255, .5);
}

button:focus {
  outline: none;
}

button:active,
input[type='button']:active,
input[type='reset']:active,
input[type='submit']:active {
  border-bottom: 2px solid White;
  border-right: 2px solid White;
  border-top: 2px solid Grey;
  border-left: 2px solid Grey;
  outline: none;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  color: #222;
  text-shadow: 1px 1px White;
  background-color: LightGrey;
  border-top: 2px solid White;
  border-left: 2px solid White;
  border-bottom: 2px solid Grey;
  border-right: 2px solid Grey;
  cursor: pointer;
  display: inline-block;
  line-height: 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

button:disabled,
.button-disabled {
  color: Grey;
}