/* Styles of global elements */

header {
  height: 84px;
}

form.form-horizontal {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 16px;
}

form.form-horizontal .control-label {
  grid-column: 1 / 2;
  justify-self: flex-end;
}

form.form-horizontal .control {
  grid-column: 2 / 3;
}

form.form-horizontal .control.control-flex {
  display: flex;
}

#tracker-feedback {
  color: Green;
  text-shadow: none;
}

#tracker-feedback>.alert {
  margin-bottom: 1rem;
}

#tracker-feedback>.alert.alert-danger {
  color: Tomato;
}

#logo {
  font-size: 9px;
  font-weight: bold;
  margin: 10px 0 0 8px;
}

.vertical-controls {
  display: flex;
  flex-direction: column;
}

.lcd {
  color: DodgerBlue;
  background-color: MidnightBlue;
  text-shadow: -1px -1px Black;
}

.lcd .line {
  display: flex;
  justify-content: space-between;
  margin: 2px;
  letter-spacing: 4px;
}

.lcd .line.selected {
  color: white;
  text-shadow: none;
}

.username {
  letter-spacing: 0;
}