/* Styles specific to the sequencer page */

#tracker-sequencer-header {
  display: grid;
  grid-template-columns: auto 254px;
}

#tracker-subheader {
  display: grid;
  grid-template-columns: 128px 128px auto 256px;
  grid-template-rows: auto;
  grid-template-areas: "info transport meters options"
}

#tracker-users .lcd {
  margin-top: 3px;
  margin-right: 3px;
  height: 55px;
  overflow: scroll;
}

#tracker-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-left: 4px;
}

#tracker-transport {
  display: grid;
}

#tracker-vu-meters {
  display: grid;
  grid-area: meters;
  grid-gap: 2px;
  grid-template-columns: auto auto;
  grid-template-rows: 36px 36px;
}

#tracker-vu-meters>.vu-meter {
  /* flex-grow: 0; */
  background-color: #222;
  cursor: pointer;
}

#tracker-options {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
}

#tracker-load>.files {
  background: MidnightBlue;
}

#tracker-load>.files>.file {
  cursor: pointer;
  margin: 1px;
}

#tracker-load>.files>.file.selected {
  color: White;
  background: DodgerBlue;
  text-shadow: none;
}

#tracker-status {
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.12rem;
}

#tracker-status>div {
  margin: 4px;
}

.track-heading {
  color: Grey;
  text-shadow: -1px -1px Black;
  margin: 4px;
}

.track-heading.selected {
  color: White;
}

#tracker-tracks>table {
  width: 100%;
  border-spacing: 2px 2px;
}

#tracker-tracks th {
  text-align: left;
  padding-left: 4px;
}

#tracker-instructions {
  color: Grey;
  background: Black;
  text-shadow: none;
  font-weight: 100;
}

.recording {
  color: Tomato;
  text-shadow: none;
}