<pre id="logo">
.___   .___ ___    .____________._._____ .______ ._______ .____/\._______._____
:   |  : __|:  |___: ._____\__ _:: __   \:   _  \:_.  ___\:   /  \ .____/ __   \
|   |  | : |   |   | : _/\   |  :|  \____|   .   |  : |/\ |.  ___/ : _/\|  \____|
|   |/\|   |   :   |   /  \  |   |   :  \|   :   |    /  \|     \|   /  \   :  \
|   /  \   |\      |_.: __/  |   |   |___\___|   |. _____/|      \_.: __/   |___\
|______/___| \____/   :/     |___|___|       |___|:/      |___\  /  :/  |___|
                                                  :            \/           v.3030
</pre>
